@import url(https://fonts.googleapis.com/css?family=Fira+Sans:400,300);

:root {
  --white: #ffffff;
  --blue-50: #0a84ff;
  --blue-60: #0060df;
  --grey-10: #f9f9fa;
  --grey-30: #d7d7db;
  --grey-50: #737373;
  --grey-70: #4a4a4f;
  --grey-90: #0c0c0d;
  --photon-timing-fuction: cubic-bezier(.07,.95,0,1);
  --sidebar-width: 400px;
}

* {
  box-sizing: border-box;
}

/** Global styles **/
body {
  font-family: "Fira Sans", Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: var(--grey-90);
  background-color: var(--grey-10);
}

.hidden {
  display: none !important;
}

#loading {
  text-align: center;
  font-size: 20px;
  margin-top: 30px;
}

#headline {
  font-size: 40px;
  font-weight: 400;
  padding: 50px 100px;
  background-color: var(--white);
}

#icon-list {
  padding: 0 var(--sidebar-width) 0 100px;
}

/** icon details **/

#icon-details {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  height: calc(100vh - 50px);
  position: fixed;
  right: -440px;
  top: 50px;
  transition: right 1s var(--photon-timing-fuction);
  width: var(--sidebar-width);
  border-left: solid 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.08);
}

#icon-details header {
  padding: 48px 48px 0 48px;
}

#icon-details main {
  flex-grow: 1;
  padding: 0 48px;
}

#icon-details footer {
  display: flex;
  justify-content: flex-end;
  padding: 24px 0;
  padding: 24px 48px;
  border-top: solid 1px rgba(0, 0, 0, 0.1);
  background-color: var(--grey-10);
}

#icon-details.show {
  right: 0;
}

#icon-details h1 {
  font-size: 24px;
  font-weight: 400;
  padding: 0 0 24px 0;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 0;
}

#icon-details .close-button {
  background-image: url('../../icons/new/stop-16.svg');
  background-position: center;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  transition: all 0.1s var(--photon-timing-fuction);
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

#icon-details .close-button:hover {
  background-color: var(--grey-30);
}

#icon-details .close-button:active {
  transform: scale(1.2);
}

#icon-details .section {
  margin: 48px 0;
}

#icon-details .title {
  display: inline-block;
  font-weight: 500;
}

#icon-details .preview {
  padding: 32px 32px 16px 32px;
  text-align: center;
  border-radius: 4px;
  fill: currentColor;
}

#icon-details .preview.light {
  color: rgba(249, 249, 250, .8);
  background-color: var(--grey-90);
}

#icon-details .preview.dark {
  color: rgba(12, 12, 13, .8);
  background-color: var(--grey-10);
}

#icon-details svg {
  width: 64px;
  height: 64px;
}

#icon-details .name {
  padding: 16px 32px;
  text-align: center;
  text-transform: capitalize;
}

#icon-details .options {
  border-top: solid 1px rgba(0, 0, 0, 0.1);
}

/** icon details checkbox **/

.checkbox,
.radio {
  margin: 12px 0;
}

label span {
  display: inline;
  vertical-align: bottom;
  line-height: 1;
}

label small {
  vertical-align: bottom;
  font-size: 12px;
  line-height: 1.05;
  margin-left: 12px;
  font-weight: 400;
  text-transform: uppercase;
}

input:checked + .toggle,
input:focus + .toggle {
  background-color: var(--blue-50);
}

input:checked + .toggle:before {
  transform: translateX(18px);
  border-color: var(--blue-50);
}

/** Footer Buttons **/

#download {
  text-align: right;
  cursor: pointer;
}

#download a {
  display: block;
  background-color: var(--blue-50);
  color: var(--white);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  padding: 12px 24px;
  text-decoration: none;
  border-radius: 3px;
}

/** Embed version **/

.embed {
  color: var(--grey-50);
}

.embed #icon-list {
  margin: 0;
}

.embed h2 {
  font-size: 45px;
  font-style: italic;
  font-weight: 300;
  margin-top: 17px;
  padding-top: 34px;
}

/** Search input **/

#search-input {
  width: 100%;
  padding: 15px 100px;
  margin-bottom: 20px;
  font-family: inherit;
  font-size: 20px;
  border-width: 0 0 1px 0;
  border-color: var(--grey-30);
  border-style: solid;
  position: sticky;
  top: 50px;
  background-image: url(../../icons/new/search-16.svg);
  background-position: calc((100px - 16px) / 2) center;
  background-repeat: no-repeat;
  color: var(--grey-90);
}

#search-input.filled {
  border-color: var(--blue-50);
}

#search-input[disabled] {
  opacity: 0.5;
  background-color: var(--white);
}

/** Directory display **/

.directory-display::before {
  content: attr(data-category);
  color: var(--grey-70);
  display: block;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 15px;
  text-transform: capitalize;
}

.directory-display {
  border-bottom: 1px solid var(--grey-30);
  padding-bottom: 10px;
  margin-bottom: 28px;
}

/** Icon display **/

.icon-display {
  display: inline-block;
  padding: 10px 5px;
  text-align: center;
  width: 70px;
  height: 75px;
  vertical-align: top;
  transition: background 0.1s, color 0.1s;
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  margin-right: 2px;
}

.icon-display:hover,
.icon-display.selected {
  background: var(--grey-30);
}

.icon-display:active {
  background-color: var(--blue-50);
  color: var(--white);
}

.icon-display:active img {
  -webkit-filter: contrast(0) brightness(200%);
  filter: contrast(0) brightness(200%);
}

.icon-display > * {
  pointer-events: none;
}

.icon-display img {
  transition: filter 0.1s;
  max-width: 16px;
  max-height: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.icon-display::after {
  content: attr(data-icon);
  font-size: 10px;
  display: block;
  width: 100%;
  -moz-user-select: text;
}
