@import url(https://fonts.googleapis.com/css?family=Fira+Sans:400,300);

/** Global styles **/
body {
  font-family: "Fira Sans", Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  background: #f9f9fa;
  box-sizing: border-box;
}
.hidden {
  display: none !important;
}
#loading {
  text-align: center;
  font-size: 20px;
  margin-top: 30px;
}
#headline {
  font-size: 40px;
  font-weight: 300;
  padding: 50px 100px;
  background: white;
}
#icon-list {
  margin: 0 300px 0 100px;
}

/** icon details **/
#icon-details {
  background: white;
  height: calc(100vh - 70px);
  position: fixed;
  right: -320px;
  top: 50px;
  transition: right 1s cubic-bezier(.07,.95,0,1);;
  width: 300px;
  padding: 10px;
}

#icon-details.show {
  right: 0;
}

#icon-details h1 {
  font-size: 20px;
  font-weight: unset;
}

#icon-details .close-button {
  background-image: url('../../icons/deprecated-developer/close.svg');
  background-position: center;
  background-size: contain;
  display: inline-block;
  height: 24px;
  position: absolute;
  right: 12px;
  top: 24px;
  width: 24px;
}

#icon-details .close-button:hover {
  background-color: #ebebeb;
}

#icon-details .close-button:active {
  background-color: #dcdcdc;
}

#icon-details .section {
  margin: 16px 0;
}
#icon-details .title {
  font-weight: bold;
}
#icon-details .preview {
  border-bottom: 1px solid #333;
  border-top: 1px solid #333;
  padding: 32px;
  text-align: center;
}
#icon-details img {
  width: 32px;
}
#icon-details .name {
  margin-bottom: 20px;
  text-transform: capitalize;
}
#download {
  margin-top: 32px;
  text-align: center;
}
#download a {
  background-color: #0a84ff;
  border: none;
  color: #fff;
  padding: 10px 14px;
  text-decoration: none;
}
#download a img {
  vertical-align: sub;
  width: 16px;
}

/** Embed version **/
.embed {
  color: #6a6a6a;
}
.embed #icon-list {
  margin: 0;
}
.embed h2 {
  font-size: 45px;
  font-style: italic;
  font-weight: 300;
  margin-top: 17px;
  padding-top: 34px;
}

/** Search input **/
#search-input {
  width: 100%;
  padding: 15px 100px;
  margin-bottom: 20px;
  font-family: inherit;
  font-size: 20px;
  border-width: 0 0 1px 0;
  border-color: #eee;
  border-style: solid;
  position: sticky;
  top: 50px;
  box-sizing: border-box;
  background-image: url(../../icons/new/search-16.svg);
  background-position: calc((100px - 16px) / 2) center;
  background-repeat: no-repeat;
  color: #333;
}
#search-input.filled {
  background-color: #C9E1FB;
  border-color: #0a84ff;
}
#search-input[disabled] {
  opacity: 0.5;
  background-color: #fff;
}

/** Directory display **/
.directory-display::before {
  content: attr(data-category);
  color: #737373;
  display: block;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 15px;
  text-transform: capitalize;
}
.directory-display {
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 10px;
  margin-bottom: 28px;
}

/** Icon display **/
.icon-display {
  display: inline-block;
  padding: 10px 5px;
  text-align: center;
  width: 70px;
  vertical-align: top;
  transition: background 0.1s, color 0.1s;
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  margin-right: 2px;
}
.icon-display:hover,
.icon-display.selected {
  background: #ebebeb;
}
.icon-display:active {
  background: #0a84ff;
  color: #f9f9fa;
}
.icon-display:active img {
  -webkit-filter: contrast(0) brightness(200%);
  filter: contrast(0) brightness(200%);
}
.icon-display img {
  transition: filter 0.1s;
  max-width: 16px;
  max-height: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.icon-display::after {
  content: attr(data-icon);
  font-size: 10px;
  display: block;
  width: 100%;
  -moz-user-select: text;
}
