@import url(https://fonts.googleapis.com/css?family=Fira+Sans:400,300);

:root {
  --blue-50: #0a84ff;
  --blue-60: #0060df;
  --grey-10: #f9f9fa;
  --grey-30: #d7d7db;
  --grey-50: #737373;
  --grey-70: #4a4a4f;
  --grey-90: #0c0c0d;
  --photon-timing-fuction: cubic-bezier(.07,.95,0,1);
}

* {
  box-sizing: border-box;
}

/** Global styles **/
body {
  font-family: "Fira Sans", Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: var(--grey-90);
  background-color: var(--grey-10);
}

.hidden {
  display: none !important;
}

#loading {
  text-align: center;
  font-size: 20px;
  margin-top: 30px;
}

#headline {
  font-size: 40px;
  font-weight: 400;
  padding: 50px 100px;
  background: white;
}

#icon-list {
  margin: 0 300px 0 100px;
}

/** icon details **/

#icon-details {
  background: white;
  height: 100vh;
  position: fixed;
  right: -440px;
  top: 0;
  transition: right 1s var(--photon-timing-fuction);
  width: 400px;
  border-left: solid 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.08);
}

#icon-details header {
  padding: 48px 48px 0 48px;
}

#icon-details main {
  padding: 0 48px;
}

#icon-details footer {
  position: fixed;
  z-index: 1;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  padding: 24px 0;
  width: 400px;
  padding: 24px 48px;
  border-top: solid 1px rgba(0, 0, 0, 0.1);
  background-color: var(--grey-10);
}

#icon-details.show {
  right: 0;
}

#icon-details h1 {
  font-size: 32px;
  font-weight: 400;
  margin: 0 0 24px 0;
}

#icon-details .close-button {
  background-image: url('../../icons/new/stop-16.svg');
  background-position: center;
  background-size: contain;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
}

#icon-details .close-button:hover {
  background-color: var(--grey-30);
}

#icon-details .close-button:active {
  background-color: var(--grey-50);
}

#icon-details .section {
  margin: 48px 0;
}

#icon-details .title {
  display: inline-block;
  font-weight: 500;
}

#icon-details .preview {
  border-top: solid 1px rgba(0, 0, 0, 0.1);
  padding: 32px 32px 16px 32px;
  text-align: center;
}

#icon-details img {
  width: 64px;
}

#icon-details .name {
  padding: 0 32px 32px 32px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
  text-align: center;
  text-transform: capitalize;
}

/** icon details checkbox **/

.checkbox, 
.radio {
  margin: 12px 0;
}

#icon-details [type="checkbox"]:not(:checked) + label, 
#icon-details [type="checkbox"]:checked + label {
  cursor: pointer;
  padding: 0 32px;
  position: relative;
}

#icon-details [type="checkbox"]:not(:checked), 
#icon-details [type="checkbox"]:checked {
  offset-inline-start: -9999px;
  position: absolute;
}

#icon-details [type="checkbox"]:not(:checked) + label::after, 
#icon-details [type="checkbox"]:checked + label::after {
  content: '';
  position: absolute;
  top: 0;
  padding: 3px;
  width: 16px;
  height: 16px;
  offset-inline-start: 0;
  background: url("../images/check.svg") no-repeat center center;
}

#icon-details [type="checkbox"]:not(:checked) + label::before, 
#icon-details [type="checkbox"]:checked + label::before {
  background: white;
  border: 1px solid var(--grey-30);
  border-radius: 3px;
  content: '';
  height: 20px;
  offset-inline-start: 0;
  position: absolute;
  top: 0;
  width: 20px;
}

#icon-details [type="checkbox"]:disabled + label{
  opacity: 0.5;
  cursor: not-allowed;
}

/** icons details radio **/

#icon-details [type="radio"]:not(:checked) + label, 
#icon-details [type="radio"]:checked + label {
  cursor: pointer;
  padding: 0 32px;
  position: relative;
}

#icon-details [type="radio"]:not(:checked), 
#icon-details [type="radio"]:checked {
  offset-inline-start: -9999px;
  position: absolute;
}

#icon-details [type="radio"]:not(:checked) + label::after, 
#icon-details [type="radio"]:checked + label::after {
  position: absolute;
  top: 5px;
  left: 5px;
  content: '';
  width: 12px;
  height: 12px;
  background-color: var(--blue-50);
  border-radius: 100%;
}

#icon-details [type="radio"]:not(:checked) + label::before, 
#icon-details [type="radio"]:checked + label::before {
  background: white;
  border: 1px solid var(--grey-30);
  border-radius: 100%;
  content: '';
  width: 20px;
  height: 20px;
  offset-inline-start: 0;
  position: absolute;
  top: 0;
}

label span {
  display: inline;
  vertical-align: bottom;
  line-height: 1;
}

label small {
  vertical-align: bottom;
  font-size: 12px;
  line-height: 1.05;
  margin-left: 12px;
  font-weight: 400;
  text-transform: uppercase;
}

/** Toggle **/

 /* The switch - the box around the slider */

.switch {
  position: relative;
  display: inline-block;
  float: right;
  width: 40px;
  height: 22px;
  margin-top: -1px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.toggle {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--grey-30);
  transition: all .3s var(--photon-timing-fuction);
  border-radius: 20px;
}

.toggle:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 0;
  bottom: 0;
  background-color: white;
  transition: all .3s var(--photon-timing-fuction);
  border-radius: 100%;
  border: 1px solid var(--grey-30);
}

input:checked + .toggle,
input:focus + .toggle {
  background-color: var(--blue-50);
}

input:checked + .toggle:before {
  transform: translateX(18px);
  border-color: var(--blue-50);
}

/** Footer Buttons **/

#download {
  text-align: right;
  cursor: pointer;
}

#cancel a {
  display: block;
  color: var(--grey-90);
  margin: 12px 24px;
  text-decoration: none;
  cursor: pointer;
}

#download a {
  display: block;
  background-color: var(--blue-50);
  color: white;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  padding: 12px 24px;
  text-decoration: none;
  border-radius: 3px;
}

/** Embed version **/

.embed {
  color: #6a6a6a;
}

.embed #icon-list {
  margin: 0;
}

.embed h2 {
  font-size: 45px;
  font-style: italic;
  font-weight: 300;
  margin-top: 17px;
  padding-top: 34px;
}

/** Search input **/

#search-input {
  width: 100%;
  padding: 15px 100px;
  margin-bottom: 20px;
  font-family: inherit;
  font-size: 20px;
  border-width: 0 0 1px 0;
  border-color: #eee;
  border-style: solid;
  position: sticky;
  top: 50px;
  background-image: url(../../icons/new/search-16.svg);
  background-position: calc((100px - 16px) / 2) center;
  background-repeat: no-repeat;
  color: #333;
}

#search-input.filled {
  background-color: #C9E1FB;
  border-color: #0a84ff;
}

#search-input[disabled] {
  opacity: 0.5;
  background-color: white;
}

/** Directory display **/

.directory-display::before {
  content: attr(data-category);
  color: #737373;
  display: block;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 15px;
  text-transform: capitalize;
}

.directory-display {
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 10px;
  margin-bottom: 28px;
}

/** Icon display **/

.icon-display {
  display: inline-block;
  padding: 10px 5px;
  text-align: center;
  width: 70px;
  vertical-align: top;
  transition: background 0.1s, color 0.1s;
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  margin-right: 2px;
}

.icon-display:hover,
.icon-display.selected {
  background: #ebebeb;
}

.icon-display:active {
  background: #0a84ff;
  color: #f9f9fa;
}

.icon-display:active img {
  -webkit-filter: contrast(0) brightness(200%);
  filter: contrast(0) brightness(200%);
}

.icon-display img {
  transition: filter 0.1s;
  max-width: 16px;
  max-height: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.icon-display::after {
  content: attr(data-icon);
  font-size: 10px;
  display: block;
  width: 100%;
  -moz-user-select: text;
}
