body {
  padding-top: 50px !important; /*to account for the banner*/
}

#widget, #widget * {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

#widget {
  font-family: Fira Sans,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Droid Sans,Helvetica Neue,sans-serif;
  font-weight: 100;
  box-sizing: border-box;
  background: #ffffff;
  color: white;
  height: 50px;
  line-height: 50px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 20px 0 20px;
  text-align: left;
  color: #737373;
  border-bottom: 1px solid #ededf0;
  z-index: 99;
}

#widget a {
  font-weight: 400;
  font-size: 12px;
  color: #737373;
  text-decoration: none;
}

#widget a.link {
  float: right;
  padding-left: 20px;
}

#widget a:hover {
  text-decoration: underline;
}

#widget .logo {
  background-image: url('../images/logo.png');
  height: 100%;
  background-size: 32px;
  background-repeat: no-repeat;
  background-position: center left;
  display: inline-block;
  padding-left: 45px;
}

#widget h1 {
  display: inline-block;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
}