@import url(https://fonts.googleapis.com/css?family=Fira+Sans:400,300);

/** Global styles **/
body {
  font-family: "Fira Sans", Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  background: #f9f9fa;
}
.hidden {
  display: none !important;
}
#loading {
  text-align: center;
  font-size: 20px;
  margin-top: 30px;
}
#headline {
  font-size: 40px;
  font-weight: 300;
  padding: 50px 100px;
  background: white;
}
#icon-list {
  margin: 0 100px;
}

/** Embed version **/
.embed {
  color: #6a6a6a;
}
.embed #icon-list {
  margin: 0;
}
.embed h2 {
  font-size: 45px;
  font-style: italic;
  font-weight: 300;
  margin-top: 17px;
  padding-top: 34px;
}

/** Search input **/
#search-input {
  width: 100%;
  padding: 15px 100px;
  margin-bottom: 20px;
  font-family: inherit;
  font-size: 20px;
  border-width: 0 0 1px 0;
  border-color: #eee;
  border-style: solid;
  position: sticky;
  top: 50px;
  box-sizing: border-box;
  background-image: url(../../icons/navigation/magnifying-glass.svg);
  background-size: 24px;
  background-position: 38px center;
  background-repeat: no-repeat;
  color: #333;
}
#search-input.filled {
  background-color: #C9E1FB;
  border-color: #0a84ff;
}
#search-input[disabled] {
  opacity: 0.5;
  background-color: #fff;
}

/** Directory display **/
.directory-display::before {
  content: attr(data-category);
  color: #737373;
  display: block;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 15px;
  text-transform: capitalize;
}
.directory-display {
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 10px;
  margin-bottom: 28px;
}

/** Icon display **/
.icon-display {
  display: inline-block;
  padding: 10px 5px;
  text-align: center;
  width: 70px;
  vertical-align: top;
  transition: background 0.1s, color 0.1s;
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  margin-right: 2px;
}
.icon-display:hover {
  background: #ebebeb;
}
.icon-display:active {
  background: #0a84ff;
  color: #f9f9fa;
}
.icon-display:active img {
  -webkit-filter: contrast(0) brightness(200%);
  filter: contrast(0) brightness(200%);
}
.icon-display img {
  transition: filter 0.1s;
  max-width: 16px;
  max-height: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.icon-display::after {
  content: attr(data-icon);
  font-size: 10px;
  display: block;
  width: 100%;
  -moz-user-select: text;
}
